.section-title {
    text-transform: uppercase;
    i {
        padding-right: 10px;
    }
}

.splash-container {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../images/background.jpg') no-repeat center center;
    width: 100%;
    .splash {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 100px;
        margin: auto;
        text-align: center;

        @media (max-width: 48em) {
            padding: 0;
        }
        .screenshot {
            margin: 50px auto 0 auto;
            img {
                width: 300px;
                margin-bottom: 30px;
            }
        }
        .splash-title {
            .splash-head {
                font-size: 2em;
                font-weight: 700;
                margin-top: 50px;
                text-transform: uppercase;
            }
            .splash-subhead {
                font-weight: 100;
            }
            @media (max-width: 48em - 1) {
                margin-top: 0;
            }
        }
    }
    * {
        color: white;
        letter-spacing: 0.1em;
    }
    #flash {
        padding-top: 30px;
        text-align: center;
        .flash {
            border-radius: 5px;
            padding: 10px;
            display: inline-block;
        }
        .success {
            background-color: green;
        }
        :not(success) {
            background-color: red;
        }
    }
}

.feature {
    text-align: center;
    p {
        color: $text-color;
        vertical-align: middle;
        display: inline-block;
    }
    * {
        color: $main-color;
    }
    .feature-subhead {
        text-transform: uppercase;
    }
    i {
        display: block;
        font-size: 60px;
    }
}

.description {
    text-align: center;
    p strong {
        color: $main-color;
        padding-right: 5px;
    }
    img {
        max-width: 100%;
        @media (max-width: 48em) {
            max-width: 80%;
        }
    }
}

.contact {
    padding-top: 20px;
    background-color: $main-color;
    text-align: center;
    * {
        color: white;
    }
    .contact-text {
        width: 70%;
    }
    .pure-form {
        width: 70%;
        margin: 0 auto;
        text-align: left;
        .text-input {
            margin-left: 5%;
            width: 47.5%;
            @media (max-width: 48em) {
                width: 100%;
                margin-left: 0;
            }
            &:first-child {
                margin-left: 0;
            }
        }
        label {
            margin: 1em 0 0;
            font-weight: bold;
            font-size: 100%;
        }
        input[type],
        textarea {
            border: 2px solid #ddd;
            color: $text-color;
            box-shadow: none;
            font-size: 100%;
            width: 100%;
            margin-bottom: 1em;
        }
    }
    .pure-button {
        background-color: #3e4347;
        color: white;
        padding: 0.5em 2em;
        border-radius: 5px;
    }
}
