html,
body {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-size: 18px;
    font-family: Lato, serial-serif;
    @media (max-width: 48em) {
        font-size: 14px;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
label {
    color: $text-color;
}

body .pure-g [class*="pure-u"] {
    font-family: Lato, serial-serif;
}

.l-box {
    padding: 1em;
}

.is-center {
    text-align: center;
}

a {
    &:-webkit-any-link,
    &:visited {
        text-decoration: none;
        color: $text-color;
    }
    &:hover {
        background: none;
        border: none;
        color: $main-color;
    }
}


/* Override pure */

.pure-menu {
    &-active > &-link,
    &-link:hover,
    &-link:focus {
        background-color: inherit;
    }
}

.pure-menu-active > .pure-menu-link,
.pure-menu-link:hover,
.pure-menu-link:focus {}

#root {
  height: 100%;
}

.content-wrapper {
    width: 100%;
    min-height: 100%;
    background: white;
    position: relative;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    @media (min-width: 48em) {
        width: 750px;
    }
    @media (min-width: 62em) {
        width: 970px;
    }
    @media (min-width: 75em) {
        .container {
            width: 1170px;
        }
    }
}

.main-content {
    padding-top: 80px;
    padding-bottom: 50px;
}

.content {
    @media (max-width: 48em) {
        padding: 40px 0;
    }
}

footer {
    background: #3e4347;
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 50px;
    p {
        color: white;
    }
}
