<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="Bring mobility to your university cafeteria">
    <meta name="theme-color" content="#ffffff">
    <title>Bandejao - Mobility to Your University Cafeteria</title>
    <LINK rel="icon" type="image/png" href=<%= require("images/favicon/favicon-96x96.png") %> >
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext'>
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
